.qrcode {
    line-height: 0;
}
    .qrcode__image {
        display: inline-block;
    }

    .qr {
        margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
        display: inline-block;
    }

    .qrcode__text {
        font-size: 16px;
        font-weight: normal;
        color: #aaa;
        line-height: 1.5;
        max-width: 400px;
    }
