<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "credential_selector/credential.css" %}'>

    <title> Smart Mirror </title>
    <link rel="icon" href="{% static 'credential_selector/icon.png' %}">

  	{# Cargamos la librería #}
	  {% load bootstrap4 %}

	  {# CSS Bootstrap #}
    {% bootstrap_css %}

    <script>
      function show_alert_info() {
        $(".alert-info").show();
      }
    </script>

  </head>

  <body>
    <link href="{% static 'credential_selector/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'credential_selector/jquery.min.js' %}"></script>
    <script src="{% static 'credential_selector/bootstrap.min.js' %}"></script>
      
    <div class="wrapper fadeInDown">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{message}}
        </div>
        {% endfor %}
        <script>
          $(document).ready(function () {
            $(".alert-success").fadeOut(5000);
          });
        </script>
      {% endif %}

      <script>
        $(document).ready(function(){
            $(".alert-info").hide();
        });
      </script>

      <div class="alert alert-info" role="alert">
        Saving credentials, wait for a moment...
      </div>
      
      <div id="formContent">
        <!-- Icon -->
          <div class="fadeIn first">
            <img src="{% static 'credential_selector/logo-arco.png' %}" id="icon"/>
          </div>
    
        <!-- Credentials Form -->
        <form id="form" action="" method="post" onsubmit="show_alert_info()">
            {% csrf_token %}
            {% for field in form %}
            <div class='form-group'>
              <label for="{{ field.name }}">{{ field.label }}</label>
              <br>
              {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="Submit" class="fadeIn fourth" value="Log In" id="submit">
          </form>
    
      </div>
    </div>

    {# JS y jQuery Bootstrap #}
	{% bootstrap_javascript jquery='full' %}   
  </body>
</html>